{% extends 'base.html' %}

{% block title %} SPSK {% endblock %}


{%block content  %}
<style>

</style>
<div class="container">

    <div class="row">
        <div class="col-12 text-center my-5">
            <img src="/media/{{cat.image}}" class="responsive-img img-fluid w-50" alt="">
            <h1 class="text-center">{{cat.title}}</h1>
        </div>
       
    </div>
  
    
        <div class="list-group my-5">
            {% for p in posts %}
            <a href="/blog/{{p.url}}" class="list-group-item list-group-item-action">{{p.title}}</a>
            {% empty %}
            <h3>no post in this category</h3>
            {% endfor %}
          </div>        
    </div>


{% endblock %}

